<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sonarQubeUrl" value="http://sonar.com:9000"/>
    <add key="sonarQubeUsername" value="admin"/>
    <add key="sonarQubePassword" value=""/>
    <add key="types" value="BUG,CODE_SMELL,VULNERABILITY"/>
    <add key="statuses" value="OPEN"/>
    <add key="projectSonrStatusUrl" value="https://test.com/api/projectsonrstatus"/>
    <!--<add key="projectSonrStatusUrl" value="https://localhost:44374/WeatherForecast"/>-->
  </appSettings>
</configuration>